@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  font-family: Red Rose, cursive;
}
body{
  position: relative;
  margin-top: 30px;
  padding: 0 20px 0;
  min-height: 100%;
  max-width: 1250px;
}
.home{
  height: fit-content;
}
.place{
  margin: 20px;
  padding-right: 20px;
  margin-right: 10px;
}
.placeLink{
  color: black;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
}
.placeImage{
  width: 161px;
  height: 48px;
}
.NavBar{
  margin-left: 50px;
  margin-bottom: 50px;
}
.header{
  text-decoration: none;

  width: 150px;
  height: 25px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */


  /* text black */

  color: #434343;
  margin-right: 10px;
  display: block;
  float: left;
  display: inline;
  padding: right 10px; ;

  
}
header nav {
  position: absolute;
  left: 30%;
  top: 7%;
}

.li{
  float: left;
  display: inline;
  padding: 0 20px 0 ;
}
.button{
  /* position: absolute;
  left: 600px;
  right: 0;
  top: 0;
  bottom: 0%; */

  /* MAJOR */

  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  width: 170px;
  height: 40px;
  color: white;
  align-items: center;
  text-align: center;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-bottom: 0;
  list-style: none;
}
#container{
  margin-top: 70px;
}

/* .sideBar1{
  width: 40%;
  float: left;
}
.sideBar2{
  float: right;
  
} */
h2{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  /* or 78px */

  letter-spacing: -0.02em;

  /* text black */

  color: #434343;
  width: 100%;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
p{
  /* height: 102px; */

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 146% */


  /* text black */

  color: #434343;


  /* Inside auto layout */

  flex-wrap: wrap;
  order: 1;
  flex-grow: 0;
}

span{
  color: #A02279;

}
input{
  box-sizing: border-box;
  border: 1px solid #a3a3a3;
  border-radius: 8px 0 0 8px;
  outline: none;
  padding: 15px;
  width: 70%;

  /* position: absolute;
  left: 0%;
  right: 39.63%;
  top: 86.5%;
  bottom: 0%; */

  background: rgba(247, 247, 247, 0.1);
}
.search{
  position: absolute;
  /* left: 60.17%;
  right: 4.22%;
  top: 86.48%;
  bottom: 0.02%; */
  height: 54px;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 120% */

  text-align: center;

  color: #FFFFFF;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px
  
}

@media (max-width:912px) {
  .img_{
    margin-top: 35px;
    width: 90%;
  }
}
.flex1{
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding: 10px 100px;
  gap: 264px; */

  /* position: absolute; */
  width: 100vw;
  height: 70px;
  margin-left: -6%;
  
  margin-top: 50px;

  /* MAJOR */

  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
@media  (min-width:1000px) {
  .flex1 .contents{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.flex1 .contents{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card h2{
  /* font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */


  /* color: #000000;
  text-align: center; */ 
 
  width: 817px;
  height: 60px;
  text-align: center;
  align-items: center;
  margin: 50px 0;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* identical to box height */


  color: #000000;
}
.card{
  border: none;
  margin-top: 60px ;
}
.card .contents{
  margin: 0 auto;
  width: 85%;
}
.cardFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

  /* margin-left: 50px; */
}
.cardFlex img{
  width: 292px;
  height: 372;
  

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
 
}
.nfts{
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 200px;

  /* position: absolute; */
  margin-top: 20px;
  margin-left: -6%;
  /* MAJOR */
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px solid #000000;
}
.nfts h3{
  position: absolute;
  width: 346px;
  height: 60px;
  left: 100px;
  top: 186px;

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */


  /* White lin */

  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nfts p{
  position: absolute;
  left: 6.94%;
  right: 64.24%;
  top: 36.3%;
  bottom: 46.12%;
  height: 300px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 194% */


  /* White lin */

  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nfts input{
  position: absolute;
  left: 6.94%;
  right: 82.22%;
  top: 61.31%;
  bottom: 32.49%;

  /* White lin */

  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 8px;
  width: 156px;
  height: 48px;
  color: #A02279;
}
.nfts img{
  width: 40px;
  margin-top: 50px;
}

.right{
  float: right;
  position: absolute;
  width: 14px;
  height: 570px;
  left: 600px;
  top: 100px;
  /* padding-left: 50px; */
}
.widt{
  width: 80%;
  gap: 20px;
  vertical-align: middle;
}
a:hover{
  color: black;
  border-bottom: #A02279;
}
button:hover{
  color: black;
}
@media(max-width:1024px) {
  .nfts{
    width: 100%;
    height: 774px;
}
  .nfts img{
    width: 350px;
    height: 550px;
  }
}
.nfts2{
  display: flex;
  box-sizing: border-box;
  height: 700px;
  width: 100vw;
  margin-top: 80px;
  padding: 0;
  padding: 10px 100px;
  margin-left: -6%;

  /* position: absolute; */
 

  /* MAJOR */

  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px solid #000000;
}
.nfts2 img{
  width: 200px;
  margin: 0 auto;
 

} 
@media(max-width:912px) {
  html,body{
    overflow-x: hidden;
  }
  .NavBar{
    display: none;
  }
  .img_{
    width: 80%;
  }
  .card h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    align-items: start;
    text-align: start;
  }
  .cardFlex img{
    width: 270px;
  }
  .nfts{
    width: 910px;
    margin-left: -12%;
  }
  .nfts img{
    width: 380px;
    position: absolute;
    left: -200px;
  }
}
@media(max-width:768px) {
  .nfts{
    display: none;
  }
}

@media(max-width:768px) {
  .nfts2{
    height: 725px;
    width: 100vw;
    max-width: 767px;
    margin-left: 0px;
   
  }
  .nfts2 img{
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  .nfts2 h3{
    font-size: 22px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
  }
  .nfts2 p{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    flex-wrap: nowrap;
    width: fit-content;
    /* or 194% */
  
  
    /* White lin */
  
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .nfts2 input{
    /* position: absolute;
    left: 6.94%;
    right: 82.22%;
    top: 61.31%;
    bottom: 32.49%; */
  
    /* White lin */
  
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border-radius: 8px;
    width: 156px;
    height: 48px;
    color: #A02279;
  }
}
@media (max-width:414px) {
  h2{
    font-size: 30px;
  }
  p{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  /* .nfts2{
    height: 725px;
    width: 100vw;
    max-width: 400px;
   
  } */
}

@media(min-width:769px){
  .nfts2{
    display: none;
  }
}
@media(min-width:1030px) {
  html,body{
    overflow-x: hidden;
  }
  h2{
    width: 646px;
  height: 148px;

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */

  letter-spacing: -0.02em;

  /* text black */

  color: #434343;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .img_{
    width: 470px;
    height: 420px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 200px;
    top: -10px;
  }
  .nfts{
    box-sizing: border-box;
    width: 1440px;
    height: 774px;
    left: 0px;
    top: 1400px;

    /* MAJOR */

    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000
  }
  .nfts img{
    width: 704px;
    height: 574.85px;
  }
  input{
    height: 54px;
    width: 390px;
    left: 0px;
    top: 346.0771484375px;
    border-radius: [object Object]px;

  }
}

@media screen and (max-width:768px){
  html,body{
    overflow-x: hidden;
  }
  body{
    padding-left: 20px;
    width: 100vw;
  }
  .home{
    
    margin-bottom: 40px;
    height: fit-content;
    width: 90%;
  }
  .input-container{
    width: 100%;
  }
  .flex1{
    margin-top: 5px;
    margin-left: -12%;
  }
  .flex1 .contents {
    width: 90%;
  }
  .flex1 img{
    width: 75%;
  }
  .card h2{
    font-size: 19px;
  }
  .nfts2{
    margin-left: -12%;
    padding-left: 10px;
  }
}
@media screen and (max-width:281px) {
  .home_image{
    width: 60px;
    height: 40px;
  }
  .meta_bnb{
    width: 60px;
    height: 40px;
  }
  input{
    font-size: 10px;
  }
  .search{
    height: 47px;
  }
  .card h2{
    font-size: 15px;
  }
  .flex1{
    margin-left: -16%;
  }
  .nfts2{
    margin-left: -16%;
  }
}
@media screen and (max-width:812px) {
  .footer{
    position: absolute;
    top: 0;
    bottom: 0;
  }
}
